.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  cursor: default;
}

.header img {
  height: 48px;
  width: 48px;
}

.header .primaryText {
  font-size: 1.1rem;
  font-weight: bold;
}

.header .secondaryText {
  font-size: 0.75rem;
  font-weight: bold;
  color: #bbbbbd;
}

.header #usernameDateTime {
  display: flex;
  align-items: center;
}

.header .content {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.header .svgContainer {
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: calc(36px - 20px);
  display: flex;
  cursor: pointer;
  transition: background-color 0.4s, fill 0.4s;
}

.header .svgContainer:hover {
  background-color: black;
  border: 1px solid white;
  fill: white;
}

.header .navbar .list {
  list-style-type: none;
  display: flex;
}

.header .navbar .list .item .link {
  text-transform: uppercase;
  font-weight: 500;
  color: #9e9e9e;
  transition: 0.25s color;
  text-decoration: none;
  margin-left: 1.1rem;
  font-size: 1.1rem;
}

.header .navbar .list .item .link:hover {
  color: #000;
}
