main {
  padding: 3% 13%;
}

main section#content {
  width: 65%;
}

main section.detail {
  display: flex;
  flex-direction: column;
}

main #logo {
  height: 2rem;
  width: auto;
}

main section#detail #detail__title {
  font-size: 4rem;
}

main section#detail #detail__info {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

main section#detail #detail__info span {
  margin-right: 0.75rem;
  font-weight: bold;
}

main section#detail #detail__about {
  color: #9e9e9e;
}

main section#actions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 5rem;
}

main section#actions #actions__action-container {
  width: 50%;
  padding: 0 0.5rem;
  margin: 1rem 0;
}

img#aside-image {
  position: fixed;
  right: 13%;
  top: 15%;
  width: 300px;
  height: 100%;
}

#aside-background {
  background-color: #03000f;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 25vw;
  z-index: -1;
}
