main.video-page {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 75vw;
	cursor: default;
	max-height: 100%;
	margin: initial;
}

.video-page .detail,
.video-page .actions {
	width: 75%;
}

.video-page .detail {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
	justify-content: space-evenly;
}

.video-page .logo {
	height: 2rem;
	width: auto;
	transition: 0.2s;
}

.video-page .logo:hover {
	transform: scale(1.1);
}

.video-page .detail .detail__title {
	font-size: 2.5rem;
}

.video-page .detail .detail__info {
	margin: 1rem 0;
	display: flex;
	align-items: center;
}

.video-page .detail .detail__info span {
	margin-right: 0.75rem;
	font-weight: bold;
}

.video-page .detail .detail__about {
	color: #9e9e9e;
  width: 75%;
}

.video-page .actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 5rem;
}

.video-page .actions .actions__action-container {
	display: flex;
	align-items: center;
	width: 40%;
	padding: 0.75rem 1.25rem 0.75rem 0;
	margin: 1rem 0;
	background-color: #f9f9f9;
	border-radius: 8px;
	cursor: pointer;
	transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;
	font-weight: bold;
	color: #b9bbba;
}

.video-page .actions .actions__action-container:hover {
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 19%);
	background-color: #ffffff;
	color: #000;
}

.video-page .actions .actions__action-container svg {
	fill: #b9bbba;
	margin: 0 0.75rem;
	transition: fill 0.5s;
}

.video-page .actions .actions__action-container:hover svg {
	fill: #f00;
}

.aside-image {
	position: fixed;
	right: 13%;
	top: 15%;
	width: auto;
	height: 100%;
	transition: 0.2s;
}

.aside-image:hover {
	transform: scale(1.015);
}

.aside-background {
	background-color: #03000f;
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 25vw;
	z-index: -1;
}

.liked {
	color: #f00 !important;
}

.liked svg {
	fill: #f00 !important;
}
